<!-- Footer Section -->
<footer class="footer mt-auto py-3 bg-dark">
    <div class="container">

        
        <div class="row mb-3">
            <div class="col-md-6">
                <span class="text-muted">© 2023 by Bonish Timsina. All Rights Reserved.</span>
            </div>

            <!-- Back to Top Button -->
            <div class="col-md-6 text-right" style="color: whitesmoke;">
                <button class="btn btn-link text-muted" id="backToTop"><i class="fa fa-chevron-up"></i> Back to Top</button>

            </div>
        </div>

        <!-- Social Media Icons/Links -->
        <div class="row mb-3">
            <div class="col-md-12">
                <a href="https://np.linkedin.com/in/bonish-timsina-9065681b5" class="text-muted mx-2"><i class="fab fa-linkedin"></i></a>
                <a href="https://github.com/bonish-timsina" class="text-muted mx-2"><i class="fab fa-github"></i></a>
                <a href="https://www.instagram.com/bonish-timsina/" class="text-muted mx-2"><i class="fab fa-instagram"></i></a>
                
            </div>
        </div>

        <!-- Contact Information and Quick Navigation Links -->
        <div class="row mb-3 text-white" style="color: whitesmoke;">
            <div class="col-md-6">
                <span class="text-muted">Email me at: <a class="text-muted" href="mailto:btimsina@my.centennialcollege.ca.com">btimsina@my.centennialcollege.ca.com</a></span><br>
                <span class="text-muted"><a href="/contact" class="text-muted">Contact Page</a></span>
            </div>

            <div class="col-md-6 text-right">
                <a href="/terms-of-service" class="text-muted mx-2">Terms of Service</a>
                <a href="/privacy-policy" class="text-muted mx-2">Privacy Policy</a>
            </div>
        </div>

        
        <div class="row">
            <div class="col-md-12">
                <span class="text-muted">Portfolio built using ExpressJS & EJS. Design elements from Bootstrap.</span>
            </div>
        </div>

    </div>
</footer>

<!--  JavaScript; Bootstrap JS, Popper.js, and jQuery for interactivity -->
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<!-- Back to Top Functionality -->
<script>
    $(document).ready(function(){
    $("#backToTop").on('click', function(event) {
        event.preventDefault();
        $("html, body").animate({ scrollTop: 0 }, "slow");
        return false;
    });
});

</script>



</body>
</html>
