<%- include('partials/header') %>
<%- include('partials/navbar') %>

<!-- Profile Picture and Introduction -->
<section class="text-center py-5">
    <img src="/images/profile-picture.jpg" alt="Profile Picture" class="rounded-circle mb-3" style="width:200px;">
    <h1>About Bonish</h1>
    <p>Student at Centenial College of Toronto. Driven to innovate and craft remarkable tech solutions.</p>
</section>

<section class="text-center py-5">
    <a href="resume/resume.pdf" target="_blank" class="btn btn-primary">See My CV</a>
</section>

<!-- Personal Story -->
<section class="container py-5">
    <h2>My Path</h2>
    <p> A Toronto native, I've always been immersed in the evolving digital landscape.</p>
    <p> At present, I'm deepening my knowledge in Computer Science at the University of Toronto. This academic endeavor is molding me into a proficient software architect.</p>
    <p> Beyond Academics: "I'm an avid coder who revels in new coding tasks and staying abreast with the current tech waves.</p>
</section>

<!-- Skills & Expertise -->
<section class="bg-light py-5">
    
    <div class="container">
        <h2>Capabilities & Proficiencies</h2> <br>
        <h3>Technical Prowess</h3>
        <p> Skilled in Python, Java, HTML5, and Sass. Well-versed in full-stack web development, especially with ReactJS and NodeJS frameworks. Knowledgeable about Android app development and relational databases.</p>
        <h3>Interpersonal Abilities</h3>
        <p> Articulate speaker, collaborative mindset, analytical thinker, and an ever-curious learner.</p>
    </div>
</section>

<!-- Personal Interests -->
<section class="container py-5">
    <h2>Hobbies & Passions</h2>
    <p> Beyond coding, I have a flair for digital art, drone photography, and navigating through Toronto's dynamic locales.</p>
</section>

<!-- Call to Action -->
<section class="text-center py-5 bg-light text-white">
    <h2>Eager to explore my creations?</h2>
    <a href="/portfolio" class="btn btn-light">Check Out My Portfolio</a>
</section>

<%- include('partials/footer') %>
