<%- include('partials/header') %>
<%- include('partials/navbar') %>

<!-- Intro Section -->
<section class="text-center py-5 bg-light">
    <h1>Welcome to Bonish Timsina's World</h1>
    <p>An aspiring software engineer shaping the digital landscape.</p>
</section>

<!-- About Me Section -->
<section class="py-5">
    <div class="container">
        <h2>About Me</h2>
        <div class="row">
            <div class="col-md-6">
                <img src="images/profile-picture.jpg" alt="Profile Picture" class="rounded-circle" style="width:150px; border-style: groove;">
            </div>
            <div class="col-md-6">
                <p>I'm a software engineering student at Centennial College, Toronto with a passion for developing innovative solutions.</p>
                <a href="/contact" class="btn btn-primary mt-2">Get in Touch</a>
            </div>
        </div>
    </div>
</section>

<!-- My Works Section -->
<section class="py-5 bg-light">
    <div class="container">
        <h2>My Works</h2>
        <div class="row">
            <!-- Add other projects here -->
            <div class="col-md-4">
                <a href="/projects" class="btn btn-secondary">Explore All Projects</a>
            </div>
        </div>
    </div>
</section>

<!-- Technologies I Use Section -->
<section class="py-5">
    <div class="container">
        <h2>Technologies I Use</h2>
        <div class="row">
            <!-- Add more technologies as desired -->
            <div class="col-md-3 text-center">
                <i class="fab fa-python fa-3x"></i>
                <p>Python</p>
            </div>
            <div class="col-md-3 text-center">
                <i class="fab fa-js fa-3x"></i>
                <p>JavaScript</p>
            </div>
            <div class="col-md-3 text-center">
                <i class="fab fa-java fa-3x"></i>
                <p>Java</p>
            </div>
        </div>
    </div>
</section>

<%- include('partials/footer') %>
