<%- include('partials/header') %>
<%- include('partials/navbar') %>

<!-- Title and Subtitle -->
<section class="text-center py-5">
    <h1>My Projects</h1>
    <p>Showcasing my journey in software development, one project at a time.</p>
</section>



<!-- Project Cards/Listings -->
<section class="py-5">
    <div class="container">
        <div class="row">
            <!-- Project 1 -->
            <div class="col-md-4">
                <div class="project-card">
                    <img src="/images/projectA.jpg" alt="Project 1 Thumbnail" class="img-fluid">
                    <h3>Notebook</h3>
                    <p>
                        simple Notes taking app</p>
                    <ul class="tech-icons">
                        <li><i class="fab fa-python"></i></li>
                        
                    </ul>
                    
                    <a href="https://github.com/iambonish/notebook" target="_blank" class="btn btn-dark btn-sm">GitHub</a>
                </div>
            </div>
            <!-- Project 2 -->
            <div class="col-md-4">
                <div class="project-card">
                    <img src="/images/projectB.jpg" alt="Project 1 Thumbnail" class="img-fluid">
                    <h3>Tic-tac-toe</h3>
                    <p>This game is a Python implementation of the classic board game "Tic-tac-toe."</p>
                    <ul class="tech-icons">
                        <li><i class="fab fa-python"></i></li>
                        
                    </ul>
                    
                    <a href="https://github.com/iambonish/Tic-tac-toe" target="_blank" class="btn btn-dark btn-sm">GitHub</a>
                </div>
            </div>
            <!-- Project 3-->
            <div class="col-md-4">
                <div class="project-card">
                    <img src="/images/projectC.png" alt="Project 2 Thumbnail" class="img-fluid">
                    <h3>Download Manager</h3>
                    <p>simple download manager to download files from internet.PI</p>
                    <ul class="tech-icons">
                        <li><i class="fab fa-js"></i></li>
                        <li><i class="fab fa-node"></i></li>
                    </ul>
                    <a href="https://github.com/iambonish/Download Manager-not-started-yet" target="_blank" class="btn btn-dark btn-sm">GitHub</a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Call to Action  -->
<section class="text-center py-5 bg-light">
    <p>Interested in collaborating on a project? Let's chat!</p>
    <a href="/contact" class="btn btn-primary">Contact Me</a>
</section>

<%- include('partials/footer') %>
